@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Classes */

:root{
    --header-background: #702F00;
    --coolColorOne: #446a88;
    --coolColorTwo: #32788f;
    --coolColorThree: #1d808d;
    --coolColorFour: #198886;
    --coolColorFive: #2b8673;
    --coolColorSix: #448864;

    --warmColorOne: #3e0101;
    --warmColorTwo: #660d03;
    --warmColorThree: #663303;
    --warmColorFour: #664803;
    --warmColorFive: #676202;

    --winningColorOne: #5eae54c7;
    --losingColorOne: #930303dc;


}

*, *::before, *::after {
    box-sizing: border-box;
}

body { 
    margin: 0;
    background: #222;
}

.content { 
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;
    display: grid;
    color:white;
}

.pl_1 { 
    padding-left: 10px;
}

.ml_1 {
    margin-left: 10px;
}

.mr_1 {
    margin-right: 10px;
}

.p2{
    padding: 20px;
}

.m1 {
    margin: 10px
}

.mr_4 {
    margin-right: 40px;
}

.ml_4 {
    margin-left: 40px;
}

.mt_1 {
    margin-top: 10px;
}

.mt_2 {
    margin-top: 20px;
}

.mt_3 {
    margin-top: 30px;
}

.mt_4 {
    margin-top: 40px;
}

.mt_5 {
    margin-top: 50px;
}

.heavy_font {
    font-weight: 900;
}

.underline_font {
    text-decoration: underline;
}


.flexHorizontal {
    display: flex;
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.subText {
    font-weight: 100;
    color: #ccc;
}

    /* Loading Spinner and Container*/
.loadingContainer {
    position: fixed;
    top: 50%;
    left: 40%;
    display: flex;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: -0.25em;
    left: 12em;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}   


/* Nav Styling  */
header {
    height: 50px;
    background: var(--header-background);
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 999;
}

h3 {
    font-size: 1em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 3px;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-dropdown-icon {
    height: 20px;
    width: 20px;
    color: white;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--header-background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 150ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 50ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 100ms ease-in-out 100ms;
}

@media screen and (min-width: 800px){
    .nav-toggle-label {
        display: none;
    }

    header {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .title { 
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    .navLink::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        margin-bottom: 3px;
        transform: scale(0,1);
        transition: transform ease-in-out 100ms;
    }

    .navLink:hover::before {
        transform: scale(1,1);
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
}

/* myTable and Home Page */
.table-container {
    width: 100%;
    overflow-x: scroll;
    font-weight: 100;
}

table.myTable {
    width: 100%;
    border-collapse: collapse;
    background: #323232;
}

.myTable caption,
.myTable th,
.myTable td {
    padding: 1rem;
}

.myTable caption, 
.myTable th {
    text-align: left;
}

.myTable caption {
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.myTable th { 
    background: hsl(0 0% 0% / 0.5);
}

.myTable tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.1)
}

.myTable thead th{
    font-weight: 500;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

.myTable tbody td {
    padding: 1rem;
}
  
.myTable tbody tr:hover {
    background-color: #333;
}

.myTable .team-display {
    margin-top: 10px;
}

@media (max-width: 650px){

    .myTable th {
        display: none;
    }
    .myTable td {
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem !important;
        font-weight: 100;
    }

    .myTable td:first-child {
        padding-top: 1rem !important;
    }

    .myTable td:last-child {
        padding-bottom: 1rem !important;
    }

    .myTable td:not(:nth-of-type(1)):before {
        content: attr(data-cell) ": ";
        font-weight: 400;
    }
    td:nth-of-type(1) {
        display: flex;
        align-content: center;
    }
}

.smallAvatar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.pastChampions {
    width: 95%;
    margin: 20px;
}

table.pastChampions {
    width: 70%;
    border: solid 1px black;
    border-radius: 10px;
    margin: 20px
}

.pastChampions thead th{
    font-weight: 500;
    text-align: left;
    border-bottom: 2px solid black;
}


/* All Analytics Page Formatting */

    /* Grid Definitions */
@media (min-width: 650px){
    .sleeperInsights {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10em);
        gap: 10px;
    }
    
    .averagePointsContainer {
        grid-column: 1;
        grid-row: 1 / 9;
        padding: 20px;
        margin: 20px;
        background-color: #333;
        border-radius: 5%;
    }
    .standardDeviationContainer {
        grid-column: 2;
        grid-row: 1 / 5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        padding: 20px;
        margin: 20px;
        background-color: #333;
        border-radius: 5%;
    }
    
    .keyMatchupsContainer {
        grid-column: 2;
        grid-row: 5 / 12;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: fit-content;
        padding: 20px;
        margin: 20px;
        background-color: #333;
        border-radius: 5%;
    }
}

@media (max-width: 650px) {
    .sleeperInsights {
        margin: 25px;
    }

    .averagePointsContainer{
        margin-bottom: 5em;
    }

    .standardDeviationContainer{
        margin-bottom: 5em;
    }

    /* .keyMatchupsContainer{
        margin-bottom: 20px;
    } */
}


    /* Analytics Shared Classes */
.mediumAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    background-color: black;
}


.coloredBar { 
    display: flex;
    align-items: center;
    height: 1.9em;
    margin-left: -5px;
    border-radius: 0 .9em .9em 0;
    z-index: 1;
}



/* Average Points */
.teamName {
    position: relative;
    top: 10px;
    left: 70px;
}

.teamPoints {
    position: relative;
    left: 28px;
}

.teamBar:nth-child(1n) .coolBar { 
    background-color: var(--coolColorOne);
}

.teamBar:nth-child(2n) .coolBar { 
    background-color: var(--coolColorTwo);
}

.teamBar:nth-child(3n) .coolBar { 
    background-color: var(--coolColorThree);
}

.teamBar:nth-child(4n) .coolBar { 
    background-color: var(--coolColorFour);
}

.teamBar:nth-child(5n) .coolBar { 
    background-color: var(--coolColorFive);
}

.teamBar:nth-child(6n) .coolBar { 
    background-color: var(--coolColorSix);
}



/* Standard Deviation */
.teamBar:nth-child(1n) .warmBar { 
    background-color: var(--warmColorOne);
}

.teamBar:nth-child(2n) .warmBar { 
    background-color: var(--warmColorTwo);
}

.teamBar:nth-child(3n) .warmBar { 
    background-color: var(--warmColorThree);
}

.teamBar:nth-child(4n) .warmBar { 
    background-color: var(--warmColorFour);
}

.teamBar:nth-child(5n) .warmBar { 
    background-color: var(--warmColorFive);
}

/* Grid Definition - 2 rows*/
.matchupContainer {
    display: grid;
    grid-template-columns: 1fr 25px 25px 1fr;
    grid-template-rows: 20px auto;
}

.matchupWeek {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: -25px;
}

.matchupSpread {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: -25px;
}

.shiftDown {
    margin-top: 15px;
}

.team1Bar {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.team2Bar {
    grid-column: 3 / 5;
    grid-row: 2 / 3;

}

.vsContainer {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.vsBubble {
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.vsText {
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
}

.matchupContainer .matchupTeam1Name {
    display: flex;
    justify-content: flex-end;
}

.matchupContainer .matchupTeam2Name {
    display: flex;
    justify-content: flex-start;
}

.matchupContainer .teamName1Text {
    position: relative;
    top: 5px;
    margin-right: 40px;
}

.matchupContainer .teamName2Text {
    position: relative;
    top: 5px;
    margin-left: 40px;
}

.matchupContainer .player2Name {
    position: relative;
    top: 10px;
    left: 0px;
}

.matchupBar {
    display: flex;
    align-items: center;
    height: 1.9em;
    z-index: 1;
    width: 100%;
}

/* .team1Bar:nth-child(1n) .winningBar { 
    background-color: var(--warmColorOne);
}

.team2Bar:nth-child(1n) .losingBar { 
    background-color: var(--coolColorOne);
} */

.winningBar {
    background-color: var(--winningColorOne);
}

.losingBar {
    background-color: var(--losingColorOne);
}

.player1Bar {
    border-radius: 0 .9em .9em 0;
    margin-left: -5px;
    display: flex;
    justify-content: end;
}

.player2Bar {
    border-radius: 0.9em 0 0 0.9em;
    margin-right: -5px;
    display: flex;
    justify-content: start;
}
