
.App {
    width: 100vw;
    height: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --left-nav-width: 150px;
    --left-nav-hidden-width: 0px;
    --top-header-height: 60px;

}

header {
    grid-row: 1;
    background: #2F4050;
    color: white;
    height: var(--top-header-height);
    width: 100%;
    display: grid;
}

header svg {
    font-size: 30px;
    cursor: pointer;
}

header .appHeaderText {
    margin-left: var(--left-nav-width);
    width: 100%;
}

.sidebar {
    height: 100%;
    width: var(--left-nav-width);
    position: absolute;
    background-color: #2F4050;
    color: white;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    left: -100%;
}

.sidebar.active {
    left: 0;
}

.navLink {
    color: white;
    display: block;
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

.navLink:hover {
    background-color: #435C74;
}

.main {
    position: absolute;
    top: var(--top-header-height);
    bottom: 0;
    right: 0;
    left: var(--left-nav-hidden-width);
    transition: all 0.4s;
}

.main.activeSidebar {
    left: var(--left-nav-width);
    height: 100%
}
